@model Synonyms.Models.WordEntry

<form method="post" asp-action="Search">
    <div>
        <label asp-for="Word">Word: </label>
        <input asp-for="Word" class="form-control" type="text" />

        @foreach (string s in ViewBag.SynList)
        {
            if (s == "Synonym")
            {
                <input asp-for="SynOrAnt" type="radio" value="@s" checked />@s
            }
            else
            {
                <input asp-for="SynOrAnt" type="radio" value="@s" />@s
            }
        }
        <br />
        <input type="submit" class="submit" value="Search" />
    </div>
</form>

<p>Dictionary Page</p>
<p>Word: @ViewBag.SearchWordDict</p>
@foreach(string s in ViewBag.DictionaryString)
            {
                <p>@s Test this change</p>
            }
