@model IEnumerable<Synonyms.Models.WordEntry>
@{
    ViewData["Title"] = "Home Page";
}

<p><a asp-action="Search" asp-controller="Home">Search</a></p>

<p>Synonym API Test</p>

@foreach (string s in ViewBag.RtnWords)
            {
                <p>@s</p>
            }