@model Synonyms.Models.WordEntry

@{
    ViewData["Title"] = "Results";
}

<form method="post" asp-action="Search">
    <div>
        <label asp-for="Word">Word: </label>
        <input asp-for="Word" class="form-control" type="text" />

        @foreach (string s in ViewBag.SynList)
        {
            <input asp-for="SynOrAnt" type="radio" value="@s" />@s
        }
        <br />
        <input type="submit" class="submit" value="Search" />
    </div>
</form>

<table>
    <thead>
        <tr>
            <td><h4>@ViewBag.SearchWord</h4><h4>@ViewBag.SearchType</h4>
        </tr>
    </thead>
    
    <tbody>
        @foreach (string s in ViewBag.RtnWords)
        {
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <form method="post" asp-action="Results">
                                    <input asp-for="Word" type="hidden" value="@s " />
                                    <input class="synsAndAntButtons" type="submit" value="@s " />
                                </form>

                            </td>
                        </tr>
                    </table>
                    

                </td>
                
            </tr>             
        }
    </tbody>
</table>

<br />
